span.flag {
  width: 44px;
  height: 30px;
  display: inline-block;
}
img.flag {
  width: 30px;
}
.flag {
  background: url(https://primefaces.org/cdn/primereact/images/flag/flags_responsive.png) no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.flag-UA {
  background-position: 0 91.735537%;
}
.flag-PL {
  background-position: 0 70.661157%;
}
.flag-DE {
  background-position: 0 22.31405%;
}
.flag-EN {
  background-position: 0 93.38843%;
}
